<ng-container *ngIf="machineEvent">
    <strong>Timestamp:</strong> {{machineEvent.timestamp | date}}
    <br />
    <strong>Status:</strong> <span [style.color]="getStatusColor()"> {{machineEvent.status}}</span>
</ng-container>
