:host {
    margin: 20px 0;
    display: block;
    border: 1px dashed #a7c3db;
    padding: 15px;
}

.machine-detail-item {
    margin: 5px 0;
}

.machine-event-button {
    background-color: #0760ad;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    margin-top: 5px;
}