<ng-container *ngIf="machine">
    <div class="machine-detail-item">
        <strong>Id:</strong> {{machine.id}}
    </div>

    <div class="machine-detail-item">
        <strong>Status:</strong> <span [style.color]="getStatusColor()"> {{machine.status}}</span>
    </div>

    <div class="machine-detail-item">
        <strong>Longitutde:</strong> {{machine.longitude}}
    </div>

    <div class="machine-detail-item">
        <strong>Latitude:</strong> {{machine.latitude}}
    </div>

    <div class="machine-detail-item">
        <strong>Last Maintenance:</strong> {{machine.last_maintenance | date}}
    </div>

    <div class="machine-detail-item">
        <strong>Install Date:</strong> {{machine.install_date | date}}
    </div>

    <div class="machine-detail-item">
        <strong>Floor:</strong> {{machine.floor}}
    </div>

    <button class="machine-event-button" (click)="toggleLastEvents()">{{isMachineEventsVisible ? 'Close' : 'Show last Events'}}</button>
    <div *ngIf="isMachineEventsVisible">
        <app-machine-event *ngFor="let machineEvent of (machineEvents$ | async)"
                            [machineEvent]="machineEvent">
        </app-machine-event>
    </div> 

</ng-container>